<div *ngIf="loading" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
    <div class="col" *ngFor="let item of skeletonArray">
        <div class="card p-3">
            <div class="skeleton-img"></div>
            <div class="skeleton-text mt-2"></div>
            <div class="skeleton-text"></div>
        </div>
    </div>
</div>

<div *ngIf="!loading" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
    <div class="col" *ngFor="let comic of comics">
        <app-comic [comic]="comic" (comicClicked)="openDetail(comic)" (favoriteClicked)="toggleFavorite((comic.id))">
        </app-comic>
    </div>
</div>

<app-detail-comic #detailComponent [selectedComic]="selectedComic" (close)="closeDetail()"></app-detail-comic>